<header>
  <div class="top-bar">
    <h1 class="logo"><a href="/"><img src="/img/logo.png" /></a></h1>
    <nav>
      <ul class="navigation-targets">
        <li><a href="about.html">About</a></li>
        <li><a href="media.html">Media</a></li>
        <li><a href="mailto:hi@rloop.org?subject=Hi!">Contact</a></li>
        <li><a href="http://shop.rloop.org">Shop</a></li>
      </ul>
    </nav>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="donate button">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="UXHXGC4KCPKDE">
      <input type="submit" value="Donate" />
    </form>
  </div>
</header>
