/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 *
 */
@import url(http://fonts.googleapis.com/css?family=Roboto);

/*Main index*/
.parallax img {
	display:block;

}

.bordered-white-text {
  color: #FFFFFF !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}

/*Proposed homepage*/
html{
	background: url(../files/hyperloop2-1920-1080.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h1, h2, h3, p{
	font-family: 'Roboto', sans-serif;
	display: inline;
}

.header-nav{
	display: block;
	width: 100%;
	/*background-color:rgb(130, 26, 207);*/
}


.nav-wrapper{
	width:90%;
	margin:0 auto;
}

.menu-items
{
	display: inline;
	/*float:right;*/
	font-size:2rem;
	margin-bottom:0.2rem;
}
.logo{
	font-size:3.5rem;
	display:inline;
	color:white;

}

.menu-items a:first-child{
	margin-left:4%;
}
.menu-items li{
	display:inline;
	padding-left:1%;
	padding-right:1%;
	font-size:2rem;
	color:rgb(245,245,245);
}

#v-button{
	margin-top:0.5rem;
	float:right;
	font-size: 2.9rem;
	font-weight: bold;
	/*margin-left:10%;*/
	color:white;
	border-radius:20px;
	border:0.2rem solid white;
}

.desc{
		width:100%;
		text-align:center;
		margin-top:3rem;
}

.desc-text{
	color:white;
	font-size: 1.6rem;
}
