
$theme-color: #3a79da;

$radius: 4px;
$unit: 8px;

$learn-more-button-width: 9em;

$social-icon-size: 24px;

$small: 900px;

@mixin scrim-top($opacity: 0.2) {
  background: linear-gradient(to bottom, rgba(black, $opacity), rgba(black, 0));
}

@mixin button($background: $theme-color, $color: white) {
  background-color: $background;
  box-shadow: inset 0 (-$radius) 0 0 darken($background, 10), 0 0 0 $radius rgba(white, 0.5);
  border-radius: $radius;

  color: $color;
  
  padding: $unit $unit * 2;
}